<link type="text/css" rel="stylesheet" href="/css/error404.css" />
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h3>Xin lỗi, trang bạn đang tìm kiếm không tồn tại!</h3>
        <a href="/">Quay lại trang chủ</a>
    </div>
</div>