<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">{{title}}</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-exclamation-triangle display-3 text-danger"></span>
                <h2 class="display-4 text-black">{{title}}</h2>
                <p class="lead mb-5">{{message}}</p>
                <p><a href="/user/active" class="btn btn-sm btn-primary">Kích hoạt tài khoản</a></p>
            </div>
        </div>
    </div>
</div>